.logo-header {
  
  background-color: white;
  min-height: 60px;
  
}

nav.navbar-main {

    background-color: #046FB9;
    margin-bottom: 20px;
  

  a {
    
    color: white;
    
  }
  
  a:hover {
    
    color: black;
    
  }
  
}