  <footer id="site-footer">
    <div class="container">

      <div class="row-fluid" id="policy-footer">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li><a href="http://www.sth.nhs.uk/about-us">About us</a>
            </li>
            <li><a href="http://www.sth.nhs.uk/cookie-policy">Privacy Policy</a>
            </li>
            <li><a href="http://www.sth.nhs.uk/freedom-of-information">Freedom of Information</a>
            </li>
            <li><a href="http://www.sth.nhs.uk/news/media/media-enquiries">Press</a>
            </li>
            <li><a href="http://www.sth.nhs.uk/work-for-us">Careers</a>
            </li>
            <li><a href=""> &copy; Sheffield Teaching Hospitals NHS Foundation Trust 2015</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>