<div class="logo-header">
  <div class="container">
    <a class="navbar-brand" href="#">Recruitment Event</a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
            <a href="#"><img class="navbar-logo" src="http://www.sth.nhs.uk/images/sheffield-teaching-hospitals.gif" alt="logo for the Sheffield Teaching Hospital NHS Foundation Trust">
            </a>
          </ul>
  </div>
</div>