<div class="logo-header">
  <div class="container">
    <div class="row">
      <div class="col-md-7col-sm-7 hidden-xs">
        <a class="navbar-brand" href="#event-map" alt="Come to one of our Nurse, Midwifery or ODP Recruitment Days - Find out about our next recruitment event">Recruitment Event</a>
      </div>

      <div class="col-md-5 col-sm-5 col-xs-12">
        <a href="http://www.sth.nhs.uk/work-for-us" alt="Find out more about working at Sheffield Teaching Hosptials and our staff benefits">
          <img width="100%" class="navbar-logo" src="http://www.sth.nhs.uk/images/sheffield-teaching-hospitals.gif" alt="logo for the Sheffield Teaching Hospital NHS Foundation Trust">
        </a>
      </div>
    </div>
  </div>
</div>