<nav class="navbar-main hidden-xs">
  <div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="#benefits" alt="find out why a career as a nurse at Sheffield Teaching Hospitals NHS Foundation Trust is a great choice">Why Choose Sheffield Teaching Hospitals?</a></li>
      <li role="presentation"><a href="#mc_embed_signup" alt="Sign up for our mailing list to find out first about new events, openings and opportunities">Sign up</a></li>
      <li role="presentation"><a href="#event-map" alt="Come to our careers fair and find out what makes Sheffield Teaching Hospitals such as great place to work">Come to our careers fair!</a></li>
    </ul>
  </div>
</nav>