  <!-- Static navbar -->
    <nav class="navbar-main">
      <div class="container">
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="#benefits">Why Choose Sheffield Teaching Hospitals?</a></li>
          <li role="presentation"><a href="#mc_embed_signup">Sign up</a></li>
        </ul>
      </div>
    </nav>