---
title: Nurse Recruitment Event
---

<div id="top">
  <div class="container">
    <div class="col-md-7">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/JFKLkfqzL5M?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
    </div>
    
    <div class="col-md-5">
      <div class="well"> 
        <h2 class="brand-heading">For a great career in nursing, join Sheffield Teaching Hospitals </h2>
        <p class="lead">Nurse, Midwife or Operating Department Practitioner? We'd love to hear from you!</p>
        <p>
           <a href="#nurse-event" class="btn btn-lg btn-success">Find out more</a>
           <a href="mailto:SelectionTeam@sth.nhs.uk" class="btn btn-lg btn-link hidden-small">Contact us</a>
        </p>
       </div>
    </div>
  </div>
</div>